body {
    /* background:	hsl(209, 65%, 41%); */
    background:hsl(206, 88%, 38%);
    /* background:#004e97; */
    display:flex;
    flex-wrap:wrap;
    padding:100px;
    justify-content: center;

}
.logo{
    width:10vw;
    padding-left:0px;
    /* border: hsl(59, 92%, 62%) solid 3px; */
}
.trainers{
    width:40vw;
    height:65vh;
    border-radius:50%;
    border: hsl(59, 92%, 62%) dashed 3px;
}
section {
    padding-top:15px;
    width:30vw;
    height:70vh;
    font-family:'Merienda One', cursive;
    color:hsl(59, 92%, 62%);
    /* border: hsl(59, 92%, 62%) solid 3px; */
    border-radius:10px;
}
@media all and (max-width:400px){
   
    .logo{
        width:100vw;
    }
    .trainers{
        width:60vw;
        height:30vh;
       
    }
    section{
        font-size:15px;
        width:90vw;
    }
}