body {
    /* background:	hsl(209, 65%, 41%); */
    background-image:url(pastels.jpg);
    background-repeat: repeat;
    /* background:#004e97; */

}
.logo{
    width:10vw;
    padding-left:0px;
    /* border: hsl(59, 92%, 62%) solid 3px; */
}
article{
    display:flex;
    justify-content: space-around;
    align-content: space-around;
}

.trainers{
    width:40vw;
    height:65vh;
    border-radius:20%;
    /* border: hsl(59, 92%, 62%) dashed 3px; */
}
section {
    background:rgba(0, 78, 151, 0.5);
    width:60vw;
    height:60vh;
    font-family:'Merienda One', cursive;
    color:hsl(59, 92%, 62%);
    /* border: hsl(59, 92%, 62%) solid 3px; */
    border-radius:10px;
}
@media all and (max-width:400px){
   
    .logo{
        width:100vw;
    }
    .trainers{
        width:60vw;
        height:30vh;
       
    }
    section{
        font-size:15px;
        width:90vw;
    }
}