:root {
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    background-image: url(images/wallpaperflare.com_wallpaper.jpg);
}

nav {
    background-color: hsl(59, 92%, 62%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    width: 100vw;
    left: 0;
    top: 0;
    position: fixed;

}

li {
    display: inline-block;
    padding: 0.3rem;
}

nav img {
    height: 10vh;
    margin-left: 0.5rem;
}

.active {
    color: hsl(59, 92%, 62%);
}


.nav-links {
    list-style-type: none;
    margin-right: 0.5rem;
}

.nav-links a {
    text-decoration: none;
    text-align: center;
}

.nav-links li{

}

a:hover {
    color: hsl(59, 92%, 62%);
    cursor: pointer;
  }

  /* piperz html styling */

  header {
      margin-top: 100px;
      text-align: center;
  }

  .profilePictures {
      /* border-radius: 20%; -secod option */
      border-radius: 50%; 
      max-width: 45vw;
      display: block;
      margin: auto;
  }

  .pimperzNames {
      font-weight: 800;
  }

 .pimperZArticleContainer {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 
 main {
     max-width: 80vw;
     margin: auto;
 }

  .form{
   /* border:solid black 5px; */
      padding:10vh;
      display:flex;
      flex-direction:column;
      align-items:center;
      
    
  }

  label, input, select{
      display:block;
     /* margin:1rem; */
  }
  section{
      margin:15vh;
  }
