:root {
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    background-color: rgb(22, 22, 22); 
    --main-text: hsl(192, 95%, 44%);
    --secondary-text: yellow;
    --main-font: 'Varela Round', sans-serif;
    --secondary-font: 'Varela Round', sans-serif;
    --nav-font: 'Ranchers', cursive;
}

main {
    max-width: 80vw;
    margin: auto;
    text-align: center;
    padding-top: 12vh;
} 

.background {
    background: url(images/frame.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: var(--main-text);
    font-family: var(--main-font);
}

p, h2 {
  color: var(--main-text);
  font-family: var(--secondary-font);
}


/* navbar styling */
nav {
    background-color: rgba(22, 22, 22,0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem;
    width: 100vw;
    left: 0;
    top: 0;
    position: fixed;
    height: 12vh;
    z-index: 1;
}

nav li {
    display: inline-block;
    padding: 0.3rem;
}

nav img {
    height: 10vh;
    margin-left: 0.5rem;
}

.active {
    color: hsl(59, 92%, 62%);
}

.nav-links {
    list-style-type: none;
    margin-right: 0.5rem;
    font-family: var(--nav-font);
}

.nav-links a {
    text-decoration: none;
    text-align: center;
    font-family: var(--nav-font);
}

a:hover {
    color: hsl(59, 92%, 62%);
    cursor: pointer;
  }

a:visited {
    color: hsl(59, 92%, 62%);
}


/* about page styling */
.aboutUsHeader {
    font-weight: 750;
    margin-top: 100px;
}

.aboutUs p {
    margin: 0 15px;
    text-align: justify;
    display: inline-block;
    text-indent: 15%;
}

.aboutImage {
    border-radius: 5%;
    max-width: 80%;
    margin: 15px auto;
}



.ourServiceList li {
    color: var(--main-text);
    font-weight: 600;
    list-style-image: url("images/pokemon.png");
}


@media only screen and (min-width: 700px) {
    .aboutImage {
        width: 30%;
    }

    .floatLeft {
        display: flex;
        flex-direction: row-reverse;
    }

    .floatRight {
        display: flex;
        flex-direction: row;
    }

    .floatLeft .aboutImage {
        transform: rotate(10deg);
    }
    
    .floatRight .aboutImage {
        transform: rotate(-10deg);
    }

    .floatLeft, .floatRight {
        margin-top: 100px;
    }

    .aboutUsHeader {
        margin-top: 50px;
    }

    .text {
        width: 45%;
    }
}
  /* piperz html styling */

/* home page styling */
#home-logo {
    width: 80vw;
}

@media only screen and (min-width: 768px) {
      #home-logo {
          width: 20rem;
      }
}

/* pimperz html styling */

/* 
  header {
      margin-top: 100px;
      text-align: center;
  } */

  .profilePictures {
      border-radius: 20%;
      /* border-radius: 50%;  */
      max-width: 45vw;
      display: block;
      margin: auto;
  }

  .pimperzNames {
        font-weight: 800;
        font-family: var(--secondary-font);
        color: var(--secondary-text);
        font-style: italic;
        padding: 1.5rem;
        text-align: center;
  }

 .pimperZArticleContainer {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
     text-align: justify;
 }

.pimperZArticleContainer p {
    width: 90%;
    margin: auto;
    padding-bottom: 2rem;
}

.main-pimperz {
    height: 80vh;
    border: 5px;
    border-color: red;
    overflow-y: scroll;
    overflow-x: hidden;
}

 @media only screen and (min-width: 700px) {
    .pimperZArticleContainer p {
        max-width: 30vw;
    }

    .profilePictures {
        width: 25vw;
    }
  
 }

/* contact form styling */

.form{
    /* border:solid black 5px; */
       padding:10vh;
       display:flex;
       flex-direction:column;
       align-items:center; 
       
        
   }
   input, textarea, select, label{
       background:rgb(22, 22, 22);
       color: var(--main-text);
       border: var(--main-text) solid 1px;
       border-radius:10px;
       display:block;
       margin:1em;
       font-family: courier, cursive;
       width:70vw;
       
   }
   fieldset{
    background:rgb(22, 22, 22);
    color: var(--main-text);
    border: black;
    border-radius:10px;
    display:block;
    margin:1em;
    font-family: courier, cursive;
  
   }

   .none{
       display: none;
   }
   
  
 @media all and (min-width:400px){
    input, textarea, select, fieldset, label{
         font-size:1.2em;
         color: var(--main-text);
         border: var(--main-text) solid 1px;
         width:45vw;
         
    }
   
 }
 @media all and (min-width:1150px){
    input, textarea, select, fieldset, label{
         font-size:1.2em;
         color: var(--main-text);
         border: var(--main-text) solid 1px;
         width:25vw;
         
    }
   
 }







  
